:root {
  --light-pink:#FFF2F2;
  --medium-pink:#fbbbcf;
  --light-blue:#A9B5DF;
  --medium-blue:#7886C7;
  --dark-blue:#4d5682;
  --light-grey: #4b506b8e;
  --text-primary-color:#2D336B;

  --pastel-yellow: #f8fbab;
  --pastel-green: #d4edd5;
}

body {
  margin: 0;
  background-color: var(--light-blue);
}

#root {
  height: 100vh;
  width: 100vw;
}

.flex-center, #root, .page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  height: 90vh;
  width: 80vw;
  padding: 10vh;
  flex-direction: column;
}

.popupBox {
  flex-direction: column;
  position: relative;
  gap: 3rem;
  padding: 4rem;
  width: 50%;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#exitInstructionButton {
  position: absolute;
  left: calc(100% - 4.5rem);
  bottom: calc(100% - 4.5rem);
  outline: none;
  border: none;
  background-color: var(--light-blue);
  color: var(--text-primary-color);
  font-size: 1.3rem;
  height: 2rem;
  width: 3rem;
}

#exitInstructionButton:hover {
  cursor: pointer;
}

#keypad {
  flex-direction: column;
  padding: 0rem 2rem;
  width: 100vh;
  height: 25vh;
  gap: 0.5rem;
}

.keypadRow {
  gap: 0.25rem;
}

.key, .keyButton {
  height: 3rem;
  margin: 0.25rem;
  outline: 1px solid var(--dark-blue);
}

.key {
  width: 3rem;
  border-radius: 10%;
}

.keyButton {
  width: 5rem;
  background-color: var(--dark-blue);
  color: white;
  border: none;
  border-radius: 50px;
}

#keypad .keyButton {
  border-radius: 10%;
}

.wordGrid {
  margin: 1rem 1rem;
}

.wordRow {
  display: flex;
  width: fit-content;
}

.letterBox {
  width: 1rem;
  height: 1rem;
  margin: 0.25rem;
  padding: 0.75rem;
  outline: 0.75px solid var(--dark-blue);
}

.finishPage button {
  cursor: pointer;
  border-radius: 20%;
  padding: 50%;
  width: 100%;
}

.homepageButtons {
  width: 50%;
  gap: 2rem;
}

#homePage button {
  border: none;
  outline: 1px solid var(--dark-blue);
  width: 20%;
  border-radius: 50px;
}


#guessLogo {
    max-width: 50vw;
    max-height: 30vh;
}

p, li, h1 {
  font-family: Arial, Helvetica, sans-serif;
}



/* Standard syntax */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.apply-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
